.singleFood {
  width: 100%;
  max-width: 370px;
  margin: 18px auto;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.5s;
  height: 500px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.singleFood:hover {
  transform: scale(1.007);
  cursor: pointer;
}

.img img {
  width: 100%;
  height: auto;
}

.titlePrice {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 20px;
}

.titlePrice h3 {
  font-size: 16px;
}

.titlePrice p {
  background-color: #ff9500;
  padding: 3px 7px;
  color: white;
  border-radius: 5px;
}

.foodDesc {
  padding: 0 20px;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 0px;
}

.category {
  background-color: #ff9500;
  padding: 20px 10px;
  margin: 0px 10px;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: center;     /* push to bottom */
  height: 2px;             /* give it height to see the effect */
}
.extraInfo{
  text-align: center;
  text-decoration: none;
}
.extraInfo a{
  text-decoration: none;
  font-size: 20px;
  color: #d47d03;
}

@media (max-width: 768px) {
  .single-food {
    max-width: 100%;
    height: auto;
    padding-bottom: 36px;
  }
}